.danger {
    background-color: red;
}

.info {
    background-color: skyblue;
}

.success {
    background-color: green;
}

.cancel {
    background-color: darkorange;
}

.yellow {
    background-color: #ffef00;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: #338ce5;
}

.pink {
    background-color: pink;
}