.note {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.5rem;
    width: 12rem;
    height: 12rem;
    box-shadow: var(--shadow-light);
    padding: 1.2rem;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        transform: translateY(-5%) scale(1.1);

        > div.note-buttons {
            display: inline;
        }
    }
}

.note-body {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.note-text {
    border: none;
    resize: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1rem;
    width: 65%;
}

.note-points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    border: 3px solid red;
    border-radius: 50%;
    color: red;
    font-size: 1rem;
    font-weight: 600;
}

.note-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}