{% extends 'blank.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">

        <form method="POST">
            {% csrf_token %}

            {% for field in form.visible_fields %}

            <div class="form-group">
        
                <div class="form-label">
                    {{ field.label_tag }}
                </div>
                {{ field }}
                {% if field.errors %}
                <div class="form-error">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
        
            </div>
        
            {% endfor %}

            <div class="btn-wrapper">
                <input class="btn success" type="submit" value="Login">
            </div>

        </form>
    </div>
</div>
{% endblock %}
